.formsList {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  align-items: stretch;
}

.formsList > li {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .formsList {
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }
}

@media screen and (min-width: 1158px) {
  .formsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
  }
}
